<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link th:href="@{/css/member.css}" rel="stylesheet" />
    <th:block th:include="fragments/navbar :: html-head"></th:block>
    <title th:text="#{label.woomool}"></title>
</head>
<body>

<!-- header -->
<th:block th:include="fragments/navbar :: header"></th:block>

<!-- container -->
<div class="container" id="woomoolWrap">
    <div class="py-5 text-center">
        <h2 th:text="#{label.myPage}">마이 페이지</h2>
    </div>
    <h4 class="mb-3 text-center" th:text="#{label.myPageInfo}">회원 정보</h4>
    <form action="" th:action="@{/members/edit}" th:object="${member}">
        <div>
            <label for="uuid" th:text="#{label.member.uuid}">회원 번호</label>
            <input type="text" id="uuid" th:field="*{uuid}" class="form-control" disabled>
        </div>
        <div>
            <label for="loginId" th:text="#{label.member.id}">아이디</label>
            <input type="text" id="loginId" th:field="*{id}" class="form-control" disabled>
        </div>
        <div>
            <label for="password" th:text="#{label.member.password}">비밀번호</label>
            <input type="text" id="password" th:field="*{password}" class="form-control" disabled>
        </div>
        <div>
            <label for="name" th:text="#{label.member.name}">이름</label>
            <input type="text" id="name" th:field="*{name}" class="form-control" disabled>
        </div>
        <div>
            <label for="age" th:text="#{label.member.age}">나이</label>
            <input type="number" id="age" th:field="*{age}" class="form-control" disabled>
        </div>
        <div>
            <label for="phone" th:text="#{label.member.phone}">전화번호</label>
            <input type="tel" id="phone" th:field="*{phone}" class="form-control" disabled>
        </div>
        <div>
            <label for="address" th:text="#{label.member.address}">주소</label>
            <input type="text" id="address" th:field="*{address}" class="form-control" disabled>
        </div>
        <div>
            <label for="email" th:text="#{label.member.email}">이메일</label>
            <input type="email" id="email" th:field="*{email}" class="form-control" disabled>
        </div>
        <div>
            <label for="license" th:text="#{label.member.licenseNumber}">사업자번호</label><br>
            <input name="radio" id="forSales" type="radio" th:checked="${member.license != null}" disabled>
            <label for="forSales" th:text="#{label.member.business}">사업자</label>
            <input name="radio" id="forNormal" type="radio" th:checked="${member.license == null}"
                   style="margin-left: 20px;" disabled>
            <label for="forNormal" th:text="#{label.member.normal}">개인</label>
            <input type="text" id="license" th:field="*{license}" class="form-control" disabled>
        </div>
        <div>
            <label for="signupDate" th:text="#{label.member.signupDate}">가입일</label>
            <input type="text" id="signupDate" name="signupDate"
                   th:value="${#temporals.format(member.signupDate, 'yyyy-MM-dd HH:mm:ss')}" class="form-control"
                   disabled>
        </div>


        <hr class="my-4">
        <div class="row">
            <div class="col">
                <button class="w-100 btn btn-primary btn-lg" type="submit" th:text="#{button.change}">수정</button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-danger btn-lg" th:text="#{button.signout}"
                        th:onclick="|location.href='@{/members/leave}'|" type="button">탈퇴
                </button>
            </div>
            <div class="col">
                <button class="w-100 btn btn-secondary btn-lg"
                        onclick="location.href='../home.html'"
                        th:onclick="|location.href='@{/}'|"
                        th:text="#{button.cancel}"
                        type="button">취소
                </button>
            </div>
        </div>
    </form>
</div>

<!-- footer -->
<footer th:replace="fragments/footer :: footer"></footer>

<div id="preloader"></div>
<a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<!-- Vendor JS Files -->
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/purecounter/purecounter.js"></script>
<script src="/assets/vendor/swiper/js/swiper-bundle.min.js"></script>

<!-- Template Main JS File -->
<script src="/assets/js/main.js"></script>

</body>
</html>