<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="FundingDAO">

	<!-- 상세보기 -->
	<select id="getBoard" parameterType="int" resultType="com.zipbop.funding.domain.FundingAllVO">
    	SELECT 
   			PRODUCT_NO, PRODUCT_NAME, SAVE_MONEY, SUPPORTER, 
    		ID, DEADLINE, GOAL_MONEY, CONTENT, REGION,
       			 (SELECT TRUNC(DEADLINE) - TRUNC(SYSDATE) 
        			FROM FUNDING_OPEN WHERE PRODUCT_NO = 1) AS D_DAY
		FROM FUNDING_OPEN
		WHERE PRODUCT_NO = #{product_no}
	</select>
   
	<!-- 리워드 리스트-상세보기 화면 안에서 보임 -->
	<select id="getRewardName" parameterType="int" resultType="string">
		SELECT REWARD_NAME FROM FUNDING_REWARD
		WHERE PRODUCT_NO = #{product_no}		
	</select>
	
	<select id="getRewardPrice" parameterType="int" resultType="string">
		SELECT REWARD_PRICE FROM FUNDING_REWARD
		WHERE PRODUCT_NO = #{product_no}
	</select>
	
	<select id="getRewardList" parameterType="com.zipbop.funding.domain.FundingAllVO" resultType="com.zipbop.funding.domain.FundingRewardVO">
		SELECT * FROM FUNDING_REWARD
		WHERE PRODUCT_NO = #{product_no}		
	</select>
	
	<!-- 펀딩 오픈신청 -->
	<insert id="insertBoard" parameterType="com.zipbop.funding.domain.FundingAllVO">
		INSERT INTO FUNDING_OPEN (PRODUCT_NO, PRODUCT_NAME, ID, DEADLINE, GOAL_MONEY, CONTENT, REGION, PIMG_NO)
		VALUES((SELECT NVL(MAX(PRODUCT_NO),0)+1 FROM FUNDING_OPEN),
		 		#{product_name}, #{id}, #{deadLine}, #{goal_money}, #{content}, #{region}, #{fileName})
	</insert> 

	<!-- 리워드 입력(오픈신청 할 때 같이 넘어감) -->
	<insert id="insertRewardList" parameterType="com.zipbop.funding.domain.FundingAllVO">
		INSERT INTO FUNDING_REWARD
		VALUES ((SELECT NVL(MAX(PRODUCT_NO),0)+1 FROM FUNDING_REWARD), 
				#{reward_name}, #{reward_price}, (SELECT NVL(MAX(REWARD_NO),0)+1 FROM FUNDING_REWARD))
	</insert>
	
	<!-- 펀딩 게시글 삭제 -->
	<delete id="deleteBoard" parameterType="com.zipbop.funding.domain.FundingOpenVO">
		DELETE FROM FUNDING_OPEN WHERE PRODUCT_NO = #{product_no}
	</delete>
	
	<!-- 펀딩 게시글 수정 -->
	<update id="updateBoard" parameterType="com.zipbop.funding.domain.FundingOpenVO">
		UPDATE FUNDING_OPEN 
		SET PRODUCT_NAME = #{product_name}, CONTENT = #{content},
			DEADLINE = #{deadLine}, REGION = #{region}
		WHERE PRODUCT_NO = #{product_no}
	</update>
	
	<!-- 리워드 수정 -->
	<update id="updateReward" parameterType="com.zipbop.funding.domain.FundingRewardVO">
		UPDATE FUNDING_REWARD
		SET REWARD_NAME = #{reward_name}, REWARD_PRICE = #{reward_price} 
		WHERE PRODUCT_NO = #{product_no}
	</update>
	
	<!-- 회원이 펀딩 참여 -->
	<insert id="insertPay" parameterType="com.zipbop.funding.domain.FundingAllVO">
		INSERT INTO FUNDING_PAY
		VALUES (PAY_NO_SEQ.nextval, #{product_no}, #{total_sum}, 
				#{name}, #{phone}, #{address}, #{id}, #{choice_reward}, SYSDATE)
	</insert>
	
	<!-- 펀딩 참여 시 모금액/후원자 수 변화 -->
	<update id="updateSS" parameterType="com.zipbop.funding.domain.FundingAllVO">
		UPDATE FUNDING_OPEN
		SET SAVE_MONEY = (SAVE_MONEY + #{total_sum}), SUPPORTER = (SUPPORTER + 1)
		WHERE PRODUCT_NO = #{product_no}
	</update>
	
	<!-- 결제완료 리스트 -->
	<select id="getPayList" parameterType="string" resultType="com.zipbop.funding.domain.FundingPayVO">
		SELECT PAY_NO, CHOICE_REWARD, TOTAL_SUM, TO_CHAR(PAY_DATE, 'YYYY-MM-DD(DY) AM HH:MI:SS') PAY_DATE
		FROM FUNDING_PAY 
		WHERE ID = #{id}
		ORDER BY PAY_DATE DESC
	</select>
</mapper>